---
import GenericWorkExperience from "./components/GenericWorkExperience.astro";
---

<section>
    <GenericWorkExperience
        title="software engineer"
        companyName="softlab spa"
        startDate="march 2022"
        bulletPoints={[
            "direct collaboration with the backend team to develop a management system for a client in the insurance industry",
            "continuous communication with the client to analyze requirements and ensure solutions meet their needs",
            "working both independently and as part of a team to design, develop, and optimize the user interface, enhancing the overall user ex-perience",
            "coordination with the development team to ensure smooth integration between front-end and back-end, and resolving any technical issues",
        ]}
    />
</section>
