---
import {Heart} from "@lucide/astro"
---

<footer class="pt-6 pb-3 border-t border-(--yellow-color)/20">
    <div class="text-sm opacity-50 flex flex-col gap-1 items-center">
        <p>
            © 2025 luigi abenante 
        </p>
        
        <p class="my-1">
            built with love but not lovable 
        </p>

        <Heart />
    </div>
</footer>

