---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Luigi Abenante</title>
    </head>
    <body>
        <div class="min-h-screen flex flex-col max-w-screen-md mx-auto p-4 gap-4">
            <main class="flex-1">
            <Navbar />
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
