<div>
  <blockquote class="text-2xl">
    #
    <span class="relative inline-block">
      <span class="relative text-white">newsletter</span>
      <svg
        class="absolute w-full h-4 top-6 left-0 text-(--green-color) overflow-visible"
        viewBox="0 0 100 10"
        preserveAspectRatio="none"
      >
        <path
          id="scribble"
          d="M0,8 C15,2 30,6 45,4 C60,2 75,6 90,3"
          stroke="currentColor"
          stroke-width="2"
          fill="none"
          pathLength="1"></path>
      </svg>
    </span>
  </blockquote>
  <div class="mt-2 mb-4">
    <p>coming soon 📪...</p>
  </div>
</div>

<style>
  #scribble {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: draw 0.5s ease-in-out forwards;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
</style>
