<div class="mb-10">
  <blockquote class="text-2xl">
    #
    <span
      class="relative inline-block before:absolute before:-inset-1 before:block before:-skew-y-3"
    >
      <span class="text-white">youtube</span>
      <div
        class="absolute -bottom-0.5 left-1 right-0 flex items-center justify-center"
      >
        <div>
          <svg
            class="w-32 fill-transparent stroke-current stroke-[0.1875rem] text-red-400
         animate-[draw_2s_ease-in-out_0.5s_forwards]"
            viewBox="0 0 176 55"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              d="M28.0001 9.50003C34 6.00006 75.5 1.18613e-05 107 1.99997C138.5 3.99993 167 7.00013 172.5 23.5001C178 40 127 49 83.0001 52C39.0002 55.0001 -2.49983 51.0001 4.50007 31.5001C11.5 12 93.5 1.60145 123 7.00001"
            ></path>
          </svg>
        </div>
      </div>
    </span>
  </blockquote>

  <div class="mt-2 mb-4">
    <p>
      here i share my thoughts and experiences on everything, from finance to
      personal growth, challenges, and more
    </p>
  </div>

  <div class="flex gap-4">
    <div class="w-fit bg-white h-fit rounded-xl shadow-xl/30">
      <iframe
        class="p-1 rounded-2xl"
        src="https://www.youtube.com/embed/ehQNWcCKyW0"></iframe>
    </div>
    <div class="w-fit bg-white h-fit rounded-xl shadow-xl/30">
      <iframe
        class="p-1 rounded-2xl"
        src="https://www.youtube.com/embed/OasBN4SMKWA"></iframe>
    </div>
  </div>
</div>
