<div class="my-10">
    <h2 class="text-2xl mb-2">
        <span class="text-(--yellow-color)">#</span> youtube
    </h2>

    <div class="mt-2 px-2">
        <div class="mb-4">
            <p>
                here i share my thoughts and experiences on everything, from finance to
                personal growth, challenges, and more
            </p>
        </div>
        <div class="flex flex-wrap gap-4">
            <div
                class="w-fit h-fit rounded-xl border-1 hover:border-(--yellow-color)
      transition-all duration-300 hover:transform hover:-translate-y-1"
            >
                <iframe class="rounded-xl" src="https://www.youtube.com/embed/ehQNWcCKyW0"
                ></iframe>
            </div>
            <div
                class="w-fit h-fit rounded-xl border-1 hover:border-(--yellow-color)
      transition-all duration-300 hover:transform hover:-translate-y-1"
            >
                <iframe class="rounded-xl" src="https://www.youtube.com/embed/OasBN4SMKWA"
                ></iframe>
            </div>
        </div>
    </div>
</div>
